<mat-toolbar color="primary">

  <span>Notificações</span>
  <span class="menu-spacer"></span>
  <button mat-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon> Menu</button>

</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item> Login </button>
</mat-menu>

<nav mat-tab-nav-bar>
  <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
    <mat-icon>{{link.icon}}</mat-icon>
    &nbsp;
    {{link.label}}
  </a>
</nav>

<router-outlet></router-outlet>